<!DOCTYPE HTML>

<html>
  <head>
    <title>Campgrounds Manger</title>
    <script type='text/javascript' src='index.js'></script>
  </head>
  <body>
    <h1>Set Campgrounds</h1>
    <form method='POST' action='/campgrounds'>
      <label for='url'>Campground Url</label>
      <input type='text' name='url' />
      <label for='url'>Sites</label>
      <input type='text' name='sites' />
      <button type='submit'>Add Campground</button>
    </form>
    <ul>
      <% campgrounds.map(campground => { %>
        <li><%= campground.url %></li>
      <% }) %>
    </ul>
  </body>
</html>
