<!DOCTYPE HTML>

<html>
  <head>
    <title>Campgrounds Manger</title>
    <script type='text/javascript' src='index.js'></script>
  </head>
  <body>
    <h1>Set Campgrounds</h1>
    <form method='POST' action='/campgrounds'>
      <label for='url'>Campground Url</label>
      <input type='text' name='url' />
      <label for='url'>Sites</label>
      <input type='text' name='sites' />
      <button type='submit'>Add Campground</button>
    </form>
    <ul>
      <% campgrounds.map(campground => { %>
        <li><%= campground.url %></li>
        <form
          method='POST'
          action='/campgrounds/<%= campground._id %>'
        >
        <% if(campground.paused) { %>
          <input type='submit' name='unpause' value='unpause' />
        <% } else { %>
          <input type='submit' name='pause' value='pause' />
        <% } %>
        </form>
        <form
          method='POST'
          action='/campgrounds/<%= campground._id %>/delete'
        >
          <input type='submit' name='remove' value='remove' />
        </form>
      <% }) %>
    </ul>
  </body>
</html>
